<h2>Usuarios</h2>
  <p>Here are some links to help you get started:</p>

  <div class="">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>e-mail</th>
          <th>Dirección</th>
          <th>Telefono</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.mothersLastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <button type="button" class="github-star-badge">
              Editar
            </button>
            <button type="button" class="github-star-badge">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>